<div id="dialog-confirm" title="Delete this Application? " style="display:none;">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>These items will be permanently deleted and cannot be recovered. <br />Any payment made to this point <b>WILL BE NON-REFUNDABLE</b> <br />Are you sure?</p>
</div>

<div style="text-align: center; padding-top: 20px; position: relative;">
<%= image_tag("/assets/images/garuda.png", height: '160', width: '160') %>
<h1>Welcome to Electronic KBRI Seoul Services (E-KBRI)</h1>
<hr />

<% if !user_signed_in? then %>
<div class="row">
	<img src="/images/welcome-ekbri.gif" />
</div >
<% end %>
<% if user_signed_in? then %>
<% if !current_user.citizenship or current_user.has_role? :admin or current_user.has_role? :moderator %>
		<div class="row">
		
								<!-- start: TABLE WITH IMAGES PANEL -->
								<div class="panel panel-default">
									<div class="panel-heading">
										<i class="fa fa-external-link-square"></i>
										<h4>Visa Application Records</h4>									
									</div>
									<div class="panel-body">
										<% if @uservisa .count > 0 %>
										<table class="table table-striped table-bordered table-hover" id="sample-table-2">
											<thead>
												<tr>																										
													<th>Reference No.</th>
													<th><center>Application</center></th>	
													<th><center>Payment</center></th>
													<th><center>Retrieve</center></th>	
													<th><center>Application Receipt</center></th>												
													<th><center></center></th>
													<th><center>Status</center></th>
												</tr>
											</thead>
											<tbody>												
												<% prevref = '' 
												   first = true
												   found = false
												   status = ''
												   curid = ''
												   currefid = ''
												@uservisa.each do |t| %>
												
												<% unless first %>
												
													<% if prevref == t.ref_id and found == false %>
														<td class="center" style="vertical-align: middle;" valign="middle" rowspan="<%= Visa.where(:ref_id => currefid ).all.count %>" <% found = true %>>
															<%= link_to 'visas/group/'+ currefid +'.pdf', :target => "_blank" do %>
															<span class="glyphicon glyphicon-save"></span>
															<span class="glyphicon-class">Download Receipt</span>
															<% end %>
														</td>
														<td class="center" style="vertical-align: middle;" valign="middle" rowspan="<%= Visa.where(:ref_id => t.ref_id).all.count %>" <% found = true %>><%= status.html_safe %></td>												
													<% elsif prevref == t.ref_id and found == true %>
														
													<% elsif prevref != t.ref_id and found == true %>
														<% found = false %>
													<% else %>
														<td>
														
														<% if Visa.where(:ref_id => currefid).count > 1 %>
															<%= link_to 'visas/group/'+currefid+'.pdf', :target => "_blank" do %>
																<span class="glyphicon glyphicon-save"></span>
																<span class="glyphicon-class">Download Receipt</span>
																<% end %>
															</td>
														<% else %>
															<%= link_to 'visas/'+curid+'.pdf', :target => "_blank" do %>
																<span class="glyphicon glyphicon-save"></span>
																<span class="glyphicon-class">Download Receipt</span>
																<% end %>
															</td>
														<% end %>	
															
														
														<td class="center"><%= status.html_safe %></td> <% found = false %>
													<% end %>												
														
													</tr>
													
												<% end %>
												
												<% status = (t.status == 'Verified' || t.status == 'Revision' )? ('<a href="/visas/payment/' + t.ref_id + '"><span class="glyphicon glyphicon-credit-card"></span><span class="glyphicon-class"> Make Payment</span></a>').html_safe : t.status %>
												<% curid = t.id %>
												<% currefid = t.ref_id %>
												<tr>													
													<td align="left"><%= t.ref_id %></td>
													<td class="center"><%= t.updated_at.strftime("%-d %b %y") %></td>
													<td class="center"><%=  !(t.payment_date.nil?) ? t.payment_date.strftime("%-d %b %Y") : '-' %></td>	
													<td class="center""><%=  !(t.pickup_date.nil?) ? ('<a style="color:#009933;font-weight:bold;">' + (t.pickup_date).strftime("%-d %b %Y") + '</a>').html_safe : '-' %></td>																										
													<td class="center">
												    <% if t.status != 'Printed' %>
													<%= link_to edit_visa_path(t.id) do %>
														<span class="glyphicon glyphicon-pencil"></span>
														<span class="glyphicon-class">Update</span>
														<% end %>
													<% if t.status == 'Received' %>
													|&nbsp;
													<!--
													<%= link_to('visas/reapply/'+t.id) do %>
														<span class="glyphicon glyphicon-export"></span>
														<span class="glyphicon-class">Notify Update to Embassy</span>
														<% end %>
													|&nbsp;-->
													<%= link_to userdeletevisa_path(t.id), :class=>'deldata' do %>
														<span class="glyphicon glyphicon-trash"></span>
														<span class="glyphicon-class">Cancel</span>
														<% end %>
													<% end %>
													<% end %>
													</td>
													
																	
																												
													
												<% prevref = t.ref_id %>												
												<% first = false %>										
												<% end %>
												
												<% unless found %>
													<td>
													<%= link_to 'visas/'+ curid +'.pdf', :target => "_blank" do %>
														<span class="glyphicon glyphicon-save"></span>
														<span class="glyphicon-class">Download Receipt</span>
														<% end %>
													</td>
													<td class="center"><%= status %></td> 
												<% end %>
												</tr>
												
												
												
											</tbody>											
										</table>
										<% else %>
										You haven't made any prior Indonesia's visa application to KBRI Seoul via e-KBRI.
										<% end %>
									</div>
									<%= paginate @uservisa %>
								</div>
								<!-- end: TABLE WITH IMAGES PANEL -->
		
	</div>
<% end %>
<% end %>
<% if user_signed_in? and current_user.citizenship then %>	
		<div class="row">		
								<!-- start: TABLE WITH IMAGES PANEL -->
								<div class="panel panel-default">
									<div class="panel-heading">
										<i class="fa fa-external-link-square"></i>
										<h4>Rekaman Aplikasi Paspor</h4>										
									</div>
									<div class="panel-body">
										<% if @userpassport.count > 0 %>
										<table class="table table-striped table-bordered table-hover" id="sample-table-2">
											<thead>
												<tr>																										
													<th>No. Referensi</th>
													<th><center>Pengajuan</center></th>														
													<th><center>Pembayaran</center></th>
													<th><center>Pengambilan</center></th>	
													<th><center></center></th>
													<th><center>Status</center></th>
													
												</tr>
											</thead>
											<tbody>												
												<% @userpassport.each do |t| %>
												<tr>													
													<td align="left"><%= t.ref_id %></td>
													<td class="center"><%= t.updated_at.strftime("%-d %b %Y") %></td>													
													<td class="center"><%=  !(t.payment_date.nil?) ? t.payment_date.strftime("%-d %b %Y") : '-' %></td>
													<td class="center""><%=  !(t.pickup_date.nil?) ? ('<a style="color:#009933;font-weight:bold;">' + (t.pickup_date).strftime("%-d %b %Y") + '</a>').html_safe : '-' %></td>												
													<td class="center">
													<% if t.status != 'Printed' %>	
													<%= link_to (edit_passport_path(t.id)) do %>
														<span class="glyphicon glyphicon-pencil"></span>
														<span class="glyphicon-class">Perbaharui</span>
													<% end %>													
													|&nbsp;													
													<%= link_to userdeletepassport_path(t.id), :class=>'deldata' do %>
														<span class="glyphicon glyphicon-trash"></span>
														<span class="glyphicon-class">Batal</span>
														<% end %>
													|&nbsp;
													<% if t.status == 'Verified' or t.status == 'Paid' %>
													<%= link_to 'passport/payment/' +t.id do %>
														<span class="glyphicon glyphicon-credit-card"></span>
														<span class="glyphicon-class">Pembayaran</span>
														<% end %>													
													|&nbsp;
													<% end %>
													<% end %>
													<%= link_to 'passports/'+t.id+'.pdf', :target => "_blank" do %>
														<span class="glyphicon glyphicon-save"></span>
														<span class="glyphicon-class">Tanda Terima</span>
													<% end %>			
													
													
													</td>
													<td class="center"><%= t.status %></td>	
												</tr>												
												<% end %>
											</tbody>											
										</table>
										<% else %>
										Anda belum pernah mengajukan aplikasi paspor/SPLP ke KBRI Seoul melalui sistem e-KBRI.
										<% end %>
									</div>
									<%= paginate @userpassport %>
								</div>
								<!-- end: TABLE WITH IMAGES PANEL -->		
		
		</div>
<% end %>
<% if user_signed_in? and current_user.citizenship then %>
		<div class="row">
								<!-- start: TABLE WITH IMAGES PANEL -->
								<div class="panel panel-default">
									<div class="panel-heading">
										<i class="fa fa-external-link-square"></i>
										<h4>Rekaman Lapor Diri via e-KBRI</h4>										
									</div>
									<div class="panel-body">
										<% if @userreport.count > 0 then %>
										<table class="table table-striped table-bordered table-hover" id="sample-table-2">
											<thead>
												<tr>																										
													<th>No. Pendaftaran Diri</th>
													<th><center>Tanggal</center></th>													
													<th><center>Status</center></th>	
													<th><center>Menu Pengubahan</center></th>
												</tr>
											</thead>
											<tbody>
										    <% if current_user.has_role? :admin or current_user.has_role? :moderator %>												
												<% @userreport.each do |t| %>
												<tr>													
													<td align="left"><%= t.ref_id %></td>
													<td class="center"><%= t.updated_at.strftime("%-d %b %y") %></td>	
													<td class="center"><%= "Terdaftar di KBRI Seoul" %></td>													
													<td class="center">
													<%= link_to (edit_report_path(t.id)) do %>
														<span class="glyphicon glyphicon-pencil"></span>
														<span class="glyphicon-class">Revisi Data/Ubah Informasi</span>
													<% end %>
													&nbsp;|&nbsp;													
													<%= link_to 'reports/'+t.id+'.pdf', :target => "_blank" do %>
														<span class="glyphicon glyphicon-save"></span>
														<span class="glyphicon-class">Note Print</span>
														<% end %>
													</td>
												</tr>
												<% end %>
											<% else %>
												<% t = @userreport.last %>
												<tr>													
													<td align="left"><%= t.ref_id %></td>
													<td class="center"><%= t.updated_at.strftime("%-d %b %y") %></td>	
													<td class="center"><%= "Terdaftar di KBRI Seoul" %></td>													
													<td class="center">
													<%= link_to (edit_report_path(t.id)) do %>
														<span class="glyphicon glyphicon-pencil"></span>
														<span class="glyphicon-class">Revisi Data/Ubah Informasi</span>
													<% end %>
													&nbsp;|&nbsp;													
													<%= link_to 'reports/user/print/'+t.id+'.pdf', :target => "_blank" do %>
														<span class="glyphicon glyphicon-save"></span>
														<span class="glyphicon-class">Note Print</span>
														<% end %>
													</td>
												</tr>												
											<% end %>	
											</tbody>											
										</table>
										<% else %>
										Anda belum pernah melaporkan diri ke KBRI Seoul melalui sistem e-KBRI.
										<% end %>
									</div>
									<%= paginate @userreport %>
								</div>
								<!-- end: TABLE WITH IMAGES PANEL -->
		</div>
<% end %>

<% if user_signed_in? and current_user.citizenship then %>
		<div class="row">
								<!-- start: TABLE WITH IMAGES PANEL -->
								<div class="panel panel-default">
									<div class="panel-heading">
										<i class="fa fa-external-link-square"></i>
										<h4>Rekaman WNI Bermasalah via e-KBRI</h4>										
									</div>
									<div class="panel-body">
										<% if @usercase.count > 0 then %>
										<table class="table table-striped table-bordered table-hover" id="sample-table-2">
											<thead>
												<tr>																										
													<th>Nama WNI Bermasalah</th>
													<th><center>Tanggal</center></th>													
													<th><center>Status</center></th>	
													<th><center>Menu Pengubahan</center></th>
												</tr>
											</thead>
											<tbody>
										    <% if current_user.has_role? :admin or current_user.has_role? :moderator %>												
												<% @usercase.each do |t| %>
												<tr>													
													<td align="left"><%= t.full_name %></td>
													<td class="center"><%= t.updated_at.strftime("%-d %b %y") %></td>	
													<td class="center"><%= t.status %></td>													
													<td class="center">
													<%= link_to (edit_case_path(t.id)) do %>
														<span class="glyphicon glyphicon-pencil"></span>
														<span class="glyphicon-class">Revisi Data/Ubah Informasi</span>
													<% end %>
													&nbsp;|&nbsp;													
													<%= link_to 'cases/'+t.id, :target => "_blank" do %>
														<span class="glyphicon glyphicon-file"></span>
														<span class="glyphicon-class">Rekap</span>
														<% end %>
													<!--
													&nbsp;|&nbsp;													
													<%= link_to 'cases/'+t.id+'.pdf', :target => "_blank" do %>
														<span class="glyphicon glyphicon-save"></span>
														<span class="glyphicon-class">Print</span>
														<% end %>
													-->
													</td>
													<!--
													&nbsp;|&nbsp;													
													<%= link_to 'cases/'+t.id+'.pdf', :target => "_blank" do %>
														<span class="glyphicon glyphicon-save"></span>
														<span class="glyphicon-class">Note Print</span>
														<% end %>
													</td>
													-->
												</tr>
												<% end %>
											<% end %>	
											</tbody>											
										</table>
										<% else %>
										Anda belum pernah melaporkan kasus WNI Bermasalah ke KBRI Seoul melalui sistem e-KBRI.
										<% end %>
									</div>
									<%= paginate @usercase %>
								</div>
								<!-- end: TABLE WITH IMAGES PANEL -->
		</div>
<% end %>

<br />
<div>An initiative towards e-Government movement by</div>
<h2>The Embassy of The Republic of Indonesia in Seoul.</h2>
<p>
	380 Yeouidebangro, Yeongdeungpo-gu, Seoul Metropolitan City
</p>
<p>
	<b>Telephone :</b> +82-2-7835675 - 7 or +82-2-7835371 - 2
	<b>| Fax : </b>+82-2-7804280
	<b>| Email :</b> seoul.kbri@kemlu.go.id
</p>
</div>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="/assets/plugins/jquery-ui/jquery-ui-1.10.4.custom.min.js"></script>
<%= stylesheet_link_tag "/assets/plugins/jquery-ui/jquery-ui-1.10.4.custom.min.css"%>

<script type="text/javascript">
	$(function($)
	{
			// Regular datepicker
			$( '.datePick' ).datepicker({
				dateFormat: 'dd.mm.yy',
				prevText: '<i class="icon-chevron-left"></i>',
				nextText: '<i class="icon-chevron-right"></i>'
			});
			
			$('.fileplaceholder').change(function(){					
				filename = $(this).val();
				$(this).parent().next().val(filename.split("\\").pop());
			});
							
			//console.log();
			$(".deldata").click(function(e){												
			    link =  $(this).attr("href");
		    	e.preventDefault();							    								
				$( "#dialog-confirm" ).dialog({
			      resizable: false,
			      height:250,
			      modal: true,
			      buttons: {
			        "Delete" : function() {
			           window.location = link;
			        },
			        Cancel: function() {											         	
			          $( this ).dialog( "close" );
			        }
			      }
			    });
			});	
			
	});		
	
</script>
