<%= simple_form_for :passport, url: '/passport/tospri/' + @passport.id, :method => :post, :html => { :class => "sky-form", :multipart => true } do |f| %>				
				<fieldset>
					<div class="row">
						<section class="col col-6">
							<label class="label">Nomor Passport</label>
							<label class="input">
								<%= f.input_field :passport_no, :maxlength => 9  %>							
							</label>
						</section>
						<section class="col col-6">
							<label class="label">Nomor Registrasi</label>
							<label class="input">
								<%= f.input_field :reg_no, :maxlength => 15 %>							
							</label>
						</section>
					</div>
				</fieldset>				
				<footer>
					<button type="submit" class="button">Insert to SPRI</button>
					<button type="button" class="button button-secondary" onclick="window.close();">Kembali</button>
				</footer>
<% end %>
			