<!-- Red color scheme -->
	<% if controller_name == "visafamily"  %>
		<% @url_response = visafamilys_path %>
	<% elsif controller_name == "visagroup"  %>
		<% @url_response = visagroups_path %>
	<% end %>
	<% unless @errors.nil? %>
			<h2 style="color:white;background:red;">Submission failed. The application is incomplete for:</h2>
				<div style="padding:4px;color:red;font-size:10pt;">
					<% @errors.each do |fs| %>
						<%= simple_format(fs[0].to_s + " = " + fs[1].to_s + "\n")  %>
					<%end%>
					<br />
					*Please reupload your files*
				</div>
	<%end%>
	<%= simple_form_for @visa, url: @url_response, :method => :post, :html => { :class => "sky-form", :multipart => true } do |f| %>
			<header>
				<% if controller_name == "visafamily" then %>
					Additional Applicants' Visa Form as Family
				<% elsif controller_name == "visagroup" %>
					Additional Applicants' Visa Form as Group
				<% else %>
				    Indonesian Visa Application Form for Individual
				<% end %>
			</header>
				<fieldset>
					<div class="row">
						<section class="col col-4">
							<label class="label">Finish Application</label>
							  <%= link_to finishgroupapply_path do %>
							  <span class="glyphicon-glyphicon-adjust" style="font-size:1.5em;">
							    <span class="glyphicon glyphicon-home"></span>
							    Finish
							  </span>													
						      <% end %>
						      <span style="font-size:1.5em; margin-left: 0.2em;">or add more applicant</span>
						</section>
					</div>
				</fieldset>
				
				<fieldset>
					<div class="row">
						<section class="col col-3">
							<label class="label">Application Type</label>
							<label class="select">
							<%= f.input_field :application_type, 
							collection: { 'New Visa Application' => 3, 'Extension of Re-Entry Permit' => 4}  %>
							<i></i>
							</label>
						</section>
						
						<section class="col col-3 isnotreentry">

							<label class="label">Requested Visa</label>
							<label class="select">
							<%= f.input_field :category_type, 
							collection: { 'Transit Visa' => 'transit', 'Business Visa' => 'business','Business Visa (with Immigration Approval Code)' => 'business-app','Social Culture' => 'social', 'Social Culture (with Immigration Approval Code)' => 'social-app', 'Tourist Visa' => 'tourist', 'Multiple Visa' => 'multiple',
								          'Limited Stay Visa' => 'limited-stay', 'Diplomatic Visa' => 'diplomatic', 
								          'Official Visa' => 'official' } %>
							<i></i>
							</label>
							<div class="note">For <b>Diplomatic Passport Holder</b>, please choose <b>Diplomatic Visa</b> Request instead other Visa Request</div>
						</section>
						<section class="col col-2" style="display:none;">
							<label class="label">Type</label>
							<label class="select">
							<%= f.input_field :num_entry, :readonly => true, :default => 'S' %>
							<i></i>
							</label>
							<div class="note">The decision is <strong>Subject</strong> to The Embassy of Indonesia's discretion.</div>
						</section>			
				
						<section class="col col-4 isnotreentry">
							<label class="label">Reason of Application (in Detail)</label>
							<label class="textarea textarea-expandable">
								<i class="icon-append icon-question"></i>
								<%= f.input_field :reason, as: :text, input_html: { row: 5 } %>
							</label>
							<div class="note"><strong>Please state your reason of visit.</strong> Example : Work, Training of Company X</div>
						</section>
					</div>
					<div class="row isnotreentry">
						<section class="col col-6"></section>
						<section class="col col-2">
							<label class="label">Duration of Stays</label>	
							<label class="input">								
								<%= f.input_field :duration_stays, :size => 3 %>
							</label>
						</section>
						<section class="col col-2">
								<label class="label">In</label>	
								<label class="select">
									<i class="icon-append icon-calendar"></i>
									<%= f.input_field :duration_stays_unit, 
									collection: { 'Days' => 'Day(s)', 'Months' => 'Month(s)', 'Years' => 'Month(s)' } %>
									<i></i>
								</label>
						</section>	
					</div>
				</fieldset>
				
				<fieldset class="newVisa specialFieldType no-show">
					<h3>Personal Detail</h3>
					<hr /><br />
					<div class="row">
						<section class="col col-4">
							<label class="label">Surname</label>
							<label class="input">
								<i class="icon-append icon-user"></i>
								<%= f.input_field :first_name %>
							</label>
						</section>
						<section class="col col-4">
							<label class="label">Given Name</label>
							<label class="input">
								<i class="icon-append icon-user"></i>
								<%= f.input_field :last_name %>
							</label>
						</section>
						<section class="col col-4">
							<label class="label">Photo</label>
							<label for="file" class="input input-file">
								<div class="button">
									<%= f.input_field :photo, as: :file, class: 'fileplaceholder' %>Upload</div>
									<input type="text" readonly="readonly" />
							</label>
							<div class="note"><strong>Note:</strong> Format : JPG/JPEG/PNG/PDF. Max Size: 2MB.
							Please also be reminded that background portrait picture must be <strong>White</strong>.</div
						</section>						
					</div>
					<div class="row">
						<section class="col col-2">
							<label class="label">Place of Birth</label>	
							<label class="input">
									<i class="icon-append icon-globe"></i>
									<%= f.input_field :placeBirth %>
							</label>
						</section>

						<section class="col col-2">
							<label class="label">Date of Birth</label>	
							<label class="input">
									<i class="icon-append icon-calendar"></i>
									<%= f.input_field :dateBirth, class: 'datePick' %>
							</label>
							<div class="note"><strong>Note:</strong> Format is DD/MM/YYYY.</div>
						</section>
						
						<section class="col col-2">
						  <label class="label">Marital Status</label>
						  <label class="select">
						  		<%= f.input_field :marital_status, 
								collection: { 'Married' => 'Kawin', 'Single' => 'Tidak Kawin' } %>
								<i></i>
						  </label>
						</section>
						
						<section class="col col-3">
						  <label class="label">Nationality</label>
						  <label class="select">
						  		<%= f.input_field :nationality, 
								collection: {									
									'AFGANISTAN'=>'AFG',
									'ALAND ISLANDS'=>'ALA',
									'ALBANIA'=>'ALB',
									'ALGERIA'=>'DZA',
									'AMERICAN SAMOA'=>'ASM',
									'ANDORRA'=>'AND',
									'ANGOLA'=>'AGO',
									'ANGUILLA'=>'AIA',
									'ANTARTICA'=>'ATA',
									'ANTIGUA AND BARBUDA'=>'ATG',
									'ARGENTINA'=>'ARG',
									'ARMENIA'=>'ARM',
									'ARUBA'=>'ABW',
									'AUSTRALIA'=>'AUS',
									'AUSTRIA'=>'AUT',
									'AZERBAIJAN'=>'AZE',
									'BAHAMAS'=>'BHS',
									'BAHRAIN'=>'BHR',
									'BANGLADESH'=>'BGD',
									'BARBADOS'=>'BRB',
									'BELARUS'=>'BLR',
									'BELGIUM'=>'BEL',
									'BELIZE'=>'BLZ',
									'BENIN'=>'BEN',
									'BERMUDA'=>'BMU',
									'BHUTAN'=>'BTN',
									'BOLIVIA'=>'BOL',
									'BOSNIA AND HERZEGOVINA'=>'BIH',
									'BOSTWANA'=>'BWA',
									'BOUVLET ISLAND'=>'BVT',
									'BRAZIL'=>'BRA',
									'BRITISH INDIAN OCEAN TERRITORY'=>'IOT',
									'BRITISH VIRGIN ISLANDS'=>'VGB',
									'BRUNAI DARUSSALAM'=>'BRN',
									'BULGARIA'=>'BGR',
									'BURKINA FASO'=>'BFA',
									'BURUNDI'=>'BDI',
									'CAMBODIA'=>'KHM',
									'CAMEROON'=>'CMR',
									'CANADA'=>'CAN',
									'CAPE VERDE'=>'CPV',
									'CAYMAN ISLAND'=>'CYM',
									'CENTRAL AFRICAN REPUBLIC'=>'CAF',
									'CHAD'=>'TCD',
									'CHILE'=>'CHL',
									'CHRISTMAS ISLAND'=>'CXR',
									'COCOS (KEELING) ISLAND'=>'CCK',
									'COLOMBIA'=>'COL',
									'COMOROS'=>'COM',
									'COOK ISLAND'=>'COK',
									'COSTA RICA'=>'CRI',
									'COTE D IVOIRE'=>'CIV',
									'CROATIA'=>'HRV',
									'CUBA'=>'CUB',
									'CYPRUS'=>'CYP',
									'CZECH REPUBLIC'=>'CZE',
									'DEMOCRATIC REPUBLIC OF THE CONGO'=>'COD',
									'DENMARK'=>'DNK',
									'DJIBOUTI'=>'DJI',
									'DOMINICA'=>'DMA',
									'DOMINICAN REPUBLIC'=>'DOM',
									'ECUADOR'=>'ECU',
									'EGYPT'=>'EGY',
									'EL SALVADOR'=>'SLV',
									'EQUATORIAL GUINEA'=>'GNQ',
									'ERITREA'=>'ERI',
									'ESTONIA'=>'EST',
									'ETHIOPIA'=>'ETH',
									'FALKLAND ISLANDS'=>'FLK',
									'FAROE ISLAND'=>'FRO',
									'FEDERATES STATES OF MICRONESIA'=>'FSM',
									'FIJI'=>'FJI',
									'FINLAND'=>'FIN',
									'FRANCE'=>'FRA',
									'FRENCH GUIANA'=>'GUF',
									'FRENCH POLYNESIA'=>'PYF',
									'FRENCH SOUTHERN TERRITORIES'=>'ATF',
									'GABON'=>'GAB',
									'GAMBIA'=>'GMB',
									'GEORGIA'=>'GEO',
									'GERMANY'=>'DEU',
									'GHANA'=>'GHA',
									'GILBRALTAR'=>'GIB',
									'GREECE'=>'GRC',
									'GREENLAND'=>'GRL',
									'GRENADA'=>'GRD',
									'GUADELOUPE'=>'GLP',
									'GUAM'=>'GUM',
									'GUATEMALA'=>'GTM',
									'GUERNSEY'=>'GGY',
									'GUINEA'=>'GIN',
									'GUINEA-BISSAU'=>'GNB',
									'GUYANA'=>'GUY',
									'HAITI'=>'HTI',
									'HEARD ISLAND AND MCDONALD ISLANDS'=>'HMD',
									'HONDURAS'=>'HND',
									'HONGKONG'=>'HKG',
									'HUNGARY'=>'HUN',
									'ICELAND'=>'ISL',
									'INDIA'=>'IND',
									'INDONESIA'=>'IDN',
									'IRAN ISLAMIC REPUBLIC OF'=>'IRN',
									'IRAQ'=>'IRQ',
									'ISLE OF MAN'=>'IMN',
									'ISRAEL'=>'ISR',
									'ITALY'=>'ITA',
									'JAMAICA'=>'JAM',
									'JAPAN'=>'JPN',
									'JERSEY'=>'JEY',
									'JORDAN'=>'JOR',
									'KAZAKHSTAN'=>'KAZ',
									'KENYA'=>'KEN',
									'KIRIBATI'=>'KIR',
									'KOREA DEMOCRATIC PEOPLE REPUBLIC OF'=>'PRK',
									'KOREA REPUBLIC OF'=>'KOR',
									'KUWAIT'=>'KWT',
									'KYRGYZSTAN'=>'KGZ',
									'LAO PEOPLE DEMOCRATIC REPUBLIC'=>'LAO',
									'LATVIA'=>'LVA',
									'LEBANON'=>'LBN',
									'LESOTHO'=>'LSO',
									'LIBERIA'=>'LBR',
									'LIBYAN ARAB JAMAHIRIYA'=>'LBY',
									'LIECHSTENSTEIN'=>'LIE',
									'LITHUANIA'=>'LTU',
									'LUXEMBOURG'=>'LUX',
									'MACAO'=>'MAC',
									'MADAGASCAR'=>'MDG',
									'MALAWI'=>'MWI',
									'MALAYSIA'=>'MYS',
									'MALDIVES'=>'MDV',
									'MALI'=>'MLI',
									'MALTA'=>'MLT',
									'MAROCCO'=>'MAR',
									'MARSHALL ISLAND'=>'MHL',
									'MARTINIQUE'=>'MTQ',
									'MAURITANIA'=>'MRT',
									'MAURITIUS'=>'MUS',
									'MAYOTTE'=>'MYT',
									'MEXICO'=>'MEX',
									'MOLDOVA'=>'MDA',
									'MONACO'=>'MCO',
									'MONGOLIA'=>'MNG',
									'MONTENEGRO'=>'MNE',
									'MONTSERRAT'=>'MSR',
									'MOZAMBIQUE'=>'MOZ',
									'MYANMAR'=>'MMR',
									'NAMIBIA'=>'NAM',
									'NAURU'=>'NRU',
									'NEPAL'=>'NPL',
									'NETHERLANDS ANTILLES'=>'ANT',
									'NETHERLANDS'=>'NLD',
									'NEW CALEDONIA'=>'NCL',
									'NEW ZEALAND'=>'NZL',
									'NICARAGUA'=>'NIC',
									'NIGER'=>'NER',
									'NIGERIA'=>'NGA',
									'NIUE'=>'NIU',
									'NORFOLK ISLAND'=>'NFK',
									'NORTHERN MARIANA ISLAND'=>'MNP',
									'NORWAY'=>'NOR',
									'OMAN'=>'OMN',
									'PAKISTAN'=>'PAK',
									'PALAU'=>'PLW',
									'PALESTINIAN TERRITORY - OCCUPIED'=>'PSE',
									'PANAMA'=>'PAN',
									'PAPUA NEW GUINEA'=>'PNG',
									'PARAGUAY'=>'PRY',
									'PEOPLE REPUBLIC OF CHINA'=>'CHN',
									'PERU'=>'PER',
									'PHILIPPINES'=>'PHL',
									'PITCAIRN'=>'PCN',
									'POLAND'=>'POL',
									'PORTUGAL'=>'PRT',
									'PUERTO RICO'=>'PRI',
									'QATAR'=>'QAT',
									'REPUBLIC OF CHINA (TAIWAN)'=>'TWN',
									'REPUBLIC OF IRELAND'=>'IRL',
									'REPUBLIC OF MACEDONIA'=>'MKD',
									'REPUBLIC OF THE CONGO'=>'COG',
									'REUNION'=>'REU',
									'ROMANIA'=>'ROU',
									'RUSSIAN FEDERATION'=>'RUS',
									'RWANDA'=>'RWA',
									'SAINT BARTHêLEMY'=>'BLM',
									'SAINT HELENA'=>'SHN',
									'SAINT KITTS AND NEVIS'=>'KNA',
									'SAINT LUCIA'=>'LCA',
									'SAINT MARTIN (FRENCH PART)'=>'MAF',
									'SAINT VINCENT AND THE GRENADINES'=>'VCT',
									'SAINT-PIERRE AND MIQUELON'=>'SPM',
									'SALOMON ISLAND'=>'SLB',
									'SAMOA'=>'WSM',
									'SAN MARINO'=>'SMR',
									'SAO TOME AND PRINCIPE'=>'STP',
									'SAUDI ARABIA'=>'SAU',
									'SENEGAL'=>'SEN',
									'SERBIA'=>'SRB',
									'SEYCHELLES'=>'SYC',
									'SIERRA LEONE'=>'SLE',
									'SINGAPORE'=>'SGP',
									'SLOVAKIA'=>'SVK',
									'SLOVENIA'=>'SVN',
									'SOMALIA'=>'SOM',
									'SOUTH AFRICA'=>'ZAF',
									'SOUTH GEORGIA AND THE SOUTH SANDWICH ISLAND'=>'SGS',
									'SPAIN'=>'ESP',
									'SRI LANKA'=>'LKA',
									'SUDAN'=>'SDN',
									'SURINAME'=>'SUR',
									'SVALBARD AND JAN MAYEN'=>'SJM',
									'SWAZILAND'=>'SWZ',
									'SWEDEN'=>'SWE',
									'SWITZERLAND'=>'CHE',
									'SYRIAN ARAB REPUBLIC'=>'SYR',
									'TAJIKISTAN'=>'TJK',
									'TANZANIA'=>'TZA',
									'THAILAND'=>'THA',
									'TIMOR LESTE'=>'TLS',
									'TOGO'=>'TGO',
									'TOKELAU'=>'TKL',
									'TONGA'=>'TON',
									'TRINIDAD AND TOBAGO'=>'TTO',
									'TUNISIA'=>'TUN',
									'TURKEY'=>'TUR',
									'TURKMENISTAN'=>'TKM',
									'TURKS AND CAICOS ISLANDS'=>'TCA',
									'TUVALU'=>'TUV',
									'U.S. VIRGIN ISLANDS'=>'VIR',
									'UGANDA'=>'UGA',
									'UKRAINE'=>'UKR',
									'UNITED ARAB EMIRATES'=>'ARE',
									'UNITED KINGDOM'=>'GBR',
									'UNITED STATES MINOR OUTLYING ISLANDS'=>'UMI',
									'UNITED STATES'=>'USA',
									'URUGUAY'=>'URY',
									'UZBEKISTAN'=>'UZB',
									'VANUATU'=>'VUT',
									'VATICAN CITY'=>'VAT',
									'VENEZUELA'=>'VEN',
									'VIETNAM'=>'VNM',
									'WALLIS AND FUTUNA'=>'WLF',
									'WESTERN SAHARA'=>'ESH',
									'YEMEN'=>'YEM',
									'ZAMBIA'=>'ZMB',
									'ZIMBABWE'=>'ZWE' }, :selected => 'KOR' %>
								<i></i>
						  </label>
						</section>
						<section class="col col-3">						  
						  <div class="inline-group">
						  	<label class="label">Sex</label>						  	
								<%= f.input_field :sex, as: :radio_buttons, :class => 'radio' ,
									collection: { 'Male' => 'L/M', 'Female' => 'P/F'}, label_method: lambda { |obj| ('<i></i>' + obj[0]).html_safe } %>								
						  </div>	
						  
						</section>
						
					</div>
					<div class="row">						
						<section class="col col-2">
							<label class="label">Occupation</label>
							<label class="select">
							<%= f.input_field :profession, 
							collection: { 'Professional' => 'Professional', 'Government' => 'Government',
								          'Diplomat' => 'Diplomat', 'Businessman' => 'Businessman', 'Student' => 'Student', 
								          'Housewife' => 'Housewife', 'Others' => 'Other' } %>
							<i></i>
							</label>
						</section>						
					</div>	
					
					</fieldset>
					<fieldset>
						
					<h3>Identification Documents</h3>
					<hr /><br />
						
					<div class="row">
						<section class="col col-4">
							<label class="label">Scanned Passport</label>
							<label for="file" class="input input-file">
								<div class="button">
									<%= f.input_field :passport, as: :file, class: 'fileplaceholder' %>Upload</div>
									<input type="text" readonly="readonly" />
							</label>
							<div class="note"><strong>Note:</strong> Format : JPG/JPEG/PNG/PDF. Max Size: 2MB</div>
						</section>
						
						<section class="col col-3">
							<label class="label">Passport No</label>
							<label class="input">
								<i class="icon-append icon-book"></i>
								<%= f.input_field :passport_no %>
							</label>
						</section>
						
						<section class="col col-3">
							<label class="label">Place of Issue</label>
							<label class="input">
								<i class="icon-append icon-globe"></i>
								<%= f.input_field :passport_issued %>
							</label>
						</section>
						
						<section class="col col-2">
							<label class="label">Type of Passport</label>
							<label class="select">
							<%= f.input_field :passport_type, 
							collection: { 'Ordinary' => 1, 'Official' => 2,
								          'Diplomatic' => 3, 'Laissez-passez' => 4 } %>
							<i></i>
							</label>
						</section>
						
						<section class="col col-3">
							<label class="label">Date of Issuance</label>
							<label class="input">
								<i class="icon-append icon-calendar"></i>
							<%= f.input_field :passport_date_issued, class: 'datePick' %>
							</label>
							<div class="note"><strong>Note:</strong> Format is DD/MM/YYYY. Example: 02/03/2014 is 02 March 2014.</div>
						</section>
						
						<section class="col col-3">
							<label class="label">Date of Expiry</label>
							<label class="input">
								<i class="icon-append icon-calendar"></i>
							<%= f.input_field :passport_date_expired, class: 'datePick' %>
							</label>
							<div class="note"><strong>Note:</strong> Format is DD/MM/YYYY. Example: 02/03/2014 is 02 March 2014.</div>
						</section>
						
					</div>
					<div class="row">				
						
						<section class="col col-4">
							<label class="label">Scanned ID Card</label>
							<label for="file" class="input input-file">
								<div class="button">
									<%= f.input_field :idcard, as: :file, class: 'fileplaceholder' %>Upload</div>
									<input type="text" readonly="readonly" />
							</label>
							<div class="note"><strong>Note:</strong> Format : JPG/JPEG/PNG/PDF. Max Size: 2MB</div>
						</section>
							
					</div>
					
									
				</fieldset>
				
				<fieldset class="newVisa specialFieldType no-show">
					<h3>Sponsor/Reference Information</h3>
					<hr /><br />
					<div class="row isnotreentry">
					  <section class="col col-3">
						<label class="label">Type of Sponsor in Korea</label>
						<label class="select">
							<%= f.input_field :sponsor_type_kr, 
							collection: { 'Individual' => 'individual', 'Government' => 'government',
								          'International Institution' => 'interinstitute', 'Company' => 'company',
								          'NGO' => 'ngo' , 'Others' => 'other'} %>
							<i></i>
					    </label>
					  </section>
					  
					  <section class="col col-4">
					  	<label class="label">Name of Reference in Korea</label>
						<label class="input">
								<i class="icon-append icon-user"></i>
								<%= f.input_field :sponsor_name_kr %>
						</label>
					  </section>
					  
					  <section class="col col-2">
					  	<label class="label">Phone No in Korea</label>
						<label class="input">
								<i class="icon-append icon-phone"></i>
								<%= f.input_field :sponsor_phone_kr %>
						</label>
					  </section>
					</div>  
					
					<div class="row isnotreentry">
					  <section class="col col-3"></section>
					  <section class="col col-6">
					  	<label class="label">Reference's Address in Korea</label>
							<label class="textarea textarea-expandable">
							<i class="icon-append icon-road"></i>
							<%= f.input_field :sponsor_address_kr, as: :text, input_html: { row: 5 } %>
						</label>
					  </section>
					</div>
					<div class="row isnotreentry">
					  <section class="col col-3"></section>
					  <section class="col col-3">
					  	<label class="label">City</label>
						<label class="select">
							<%= f.input_field :sponsor_address_city_kr, collection: { 
											  'Andong' => 'Andong',
											  'Ansan' => 'Ansan',
											  'Anseong' => 'Anseong',
											  'Anyang' => 'Anyang',
											  'Asan' => 'Asan',
											  'Boryeong' => 'Boryeong',
											  'Bucheon' => 'Bucheon',
											  'Busan' => 'Busan',
											  'Changwon' => 'Changwon',
											  'Cheonan' => 'Cheonan',
											  'Cheongju' => 'Cheongju',
											  'Chuncheon' => 'Chuncheon',
											  'Chungju' => 'Chungju',
											  'Daegu' => 'Daegu',
											  'Daejeon' => 'Daejeon',
											  'Dangjin' => 'Dangjin',
											  'Donghae' => 'Donghae',
											  'Gangneung' => 'Gangneung',
											  'Geoje' => 'Geoje',
											  'Gimcheon' => 'Gimcheon',
											  'Gimhae' => 'Gimhae',
											  'Gimje' => 'Gimje',
											  'Gimpo' => 'Gimpo',
											  'Gongju' => 'Gongju',
											  'Goyang' => 'Goyang',
											  'Gumi' => 'Gumi',
											  'Gunpo' => 'Gunpo',
											  'Gunsan'	=> 'Gunsan',
											  'Guri' => 'Guri',
											  'Gwacheon' => 'Gwacheon',
											  'Gwangju' => 'Gwangju',
											  'Gwangmyeong' => 'Gwangmyeong',
											  'Gwangyang' => 'Gwangyang',
											  'Gyeongju' => 'Gyeongju',
											  'Gyeongsan' => 'Gyeongsan',
											  'Gyeryong' => 'Gyeryong',
											  'Hanam' => 'Hanam',
											  'Hwaseong' => 'Hwaseong',
											  'Icheon' => 'Icheon',
											  'Iksan' => 'Iksan',
											  'Incheon' => 'Incheon',
											  'Jecheon' => 'Jecheon',
											  'Jeongeup' => 'Jeongeup',
											  'Jeonju' => 'Jeonju',
											  'Jeju' => 'Jeju',
											  'Jinju' => 'Jinju',
											  'Naju' => 'Naju',
											  'Namyangju' => 'Namyangju',
											  'Namwon' => 'Namwon',
											  'Nonsan' => 'Nonsan',
											  'Miryang' => 'Miryang',
											  'Mokpo' => 'Mokpo',
											  'Mungyeong' => 'Mungyeong',
											  'Osan' => 'Osan',
											  'Paju' => 'Paju',
											  'Pocheon' => 'Pocheon',
											  'Pohang' => 'Pohang',
											  'Pyeongtaek' => 'Pyeongtaek',
											  'Sacheon' => 'Sacheon',
											  'Sangju' => 'Sangju',
											  'Samcheok' => 'Samcheok',
											  'Sejong' => 'Sejong',
											  'Seogwipo' => 'Seogwipo',
											  'Seongnam' => 'Seongnam',
											  'Seosan' => 'Seosan',
											  'Seoul' => 'Seoul',
											  'Siheung' => 'Siheung',
											  'Sokcho' => 'Sokcho',
											  'Suncheon' => 'Suncheon',
											  'Suwon' => 'Suwon',
											  'Taebaek' => 'Taebaek',
											  'Tongyeong' => 'Tongyeong',
											  'Uijeongbu' => 'Uijeongbu',
											  'Uiwang' => 'Uiwang',
											  'Ulsan' => 'Ulsan',
											  'Wonju' => 'Wonju',
											  'Yangju' => 'Yangju',
											  'Yangsan' => 'Yangsan',
											  'Yeoju' => 'Yeoju',
											  'Yeongcheon' => 'Yeongcheon',
											  'Yeongju' => 'Yeongju',
											  'Yeosu' => 'Yeosu',
											  'Yongin' => 'Yongin'
								} %>
								<i></i>
					</label></section>
					
					<section class="col col-3">
					  	<label class="label">Province</label>
						  <label class="select">
							<%= f.input_field :sponsor_address_prov_kr, collection: { 
								'Gyeonggi-do' => 'Gyeonggi-do',
								'Gangwon-do' => 'Gangwon-do',
								'Jeollabuk-do' => 'Jeollabuk-do',
								'Jeollanam-do' => 'Jeollanam-do',
								'Chungcheongnam-do' => 'Chungcheongnam-do',
								'Chungcheongbuk-nam' => 'Chungcheongbuk-do',
								'Gyeongsamnam-do' => 'Gyeongsam_nam-do',
								'Gyeongsangbuk-do' => 'Gyeongsang_bu-do',
								'Jeju Island' => 'Jeju',
								'특별시 Seoul' => 'Seoul',
								'광역시 Busan' => 'Busan',
								'광역시 Daegu' => 'Daegu',
								'광역시 Daejeon' => 'Daejeon',
								'광역시 Gwangju' => 'Gwangju',
								'광역시 Incheon' => 'Incheon',
								'광역시 Ulsan' => 'Ulsan',
								'특별자치시 Sejong' => 'Sejong'
								 } %>
							<i></i>
						  </label>
					  </section>
					</div>
					
					<div class="row">
					  <section class="col col-3">
						<label class="label">Type of Sponsor in Indonesia</label>
						<label class="select">
							<%= f.input_field :sponsor_type_id, 
							collection: { 'Individual' => 1, 'Government' => 2,
								          'International Institution' => 3, 'Company' => 4,
								          'NGO' => 5, 'Others' => 6} %>
							<i></i>
					    </label>
					  </section>
					  
					  <section class="col col-4">
					  	<label class="label">Name of Reference in Indonesia</label>
						<label class="input">
								<i class="icon-append icon-user"></i>
								<%= f.input_field :sponsor_name_id %>
						</label>
					  </section>
					  
					  <section class="col col-2">
					  	<label class="label">Phone No in Indonesia</label>
						<label class="input">
								<i class="icon-append icon-phone"></i>
								<%= f.input_field :sponsor_phone_id %>
						</label>
					  </section>
				    </div>
					  
					  <div class="row">
					  	 <section class="col col-3"></section>
					  <section class="col col-6">
					  	<label class="label">Reference's Address in Indonesia</label>
							<label class="textarea textarea-expandable">
							<i class="icon-append icon-road"></i>
							<%= f.input_field :sponsor_address_id, input_html: { row: 5 }, as: :text %>
						</label>
					  </section>
					  </div>
					  <div class="row">
					  	 <section class="col col-3"></section>
					  <section class="col col-3">
					  	<label class="label">City</label>
						<label class="select">
							<%= f.input_field :sponsor_address_kab_id, 
							collection: { 
							'AMBON (KODYA)'=>'ABN',
							'ACEH TIMUR'=>'ACA',
							'ACEH TENGGARA'=>'ACG',
							'ACEH TENGAH'=>'ACH',
							'ACEH SELATAN'=>'ACN',
							'ACEH BESAR'=>'ACR',
							'ACEH BARAT'=>'ACT',
							'ACEH UTARA'=>'ACU',
							'AGAM'=>'AGM',
							'ASAHAN'=>'AHN',
							'ALOR'=>'ALO',
							'ARGAMAKMUR'=>'ARG',
							'BANDA ACEH (KODYA)'=>'BAC',
							'BADUNG'=>'BAD',
							'BANGLI'=>'BAG',
							'BANTUL'=>'BAN',
							'BARRU'=>'BAR',
							'BUNGO TEBO'=>'BBO',
							'BANDUNG (KODYA)'=>'BDG',
							'BANDUNG'=>'BDK',
							'BANDARLAMPUNG'=>'BDL',
							'BONDOWOSO'=>'BDW',
							'BELU'=>'BEL',
							'BERAU'=>'BER',
							'BANGGAI'=>'BGG',
							'BOGOR'=>'BGK',
							'BULONGAN'=>'BGN',
							'BOLAANGMONGONDOW'=>'BGW',
							'BATANGHARI'=>'BHI',
							'BIMA (KODYA)'=>'BIM',
							'BINJAI'=>'BIN',
							'BITUNG'=>'BIT',
							'BATURAJA'=>'BJA',
							'BANJARNEGARA'=>'BJG',
							'BANJAR'=>'BJR',
							'BANGKA'=>'BKA',
							'BANGKINANG'=>'BKG',
							'BENGKULU (KODYA)'=>'BKL',
							'BANGKALAN'=>'BKN',
							'BENGKULU SELATAN'=>'BKS',
							'BUKITTINGGI'=>'BKT',
							'BENGKULU UTARA'=>'BKU',
							'BULUKUMBA'=>'BLB',
							'BLITAR'=>'BLI',
							'BLORA'=>'BLO',
							'BENGKALIS'=>'BLS',
							'BELITUNG'=>'BLT',
							'BIMA'=>'BMA',
							'BANJAR'=>'BNJ',
							'BONTANG'=>'BNT',
							'BOGOR (KODYA)'=>'BOG',
							'BOJONEGORO'=>'BOJ',
							'BARITOKUALA'=>'BOK',
							'BONE'=>'BON',
							'BARITO SELATAN'=>'BOS',
							'BARITO UTARA'=>'BOU',
							'BOYOLALI'=>'BOY',
							'BALIKPAPAN'=>'BPP',
							'BREBES'=>'BRE',
							'BEKASI (KODYA)'=>'BSI',
							'BEKASI'=>'BSK',
							'BANJARMASIN'=>'BSN',
							'BANTAENG'=>'BTG',
							'BUOL-TOLITOLI'=>'BTI',
							'BATAM'=>'BTM',
							'BATANG'=>'BTN',
							'BATU'=>'BTU',
							'BULELENG'=>'BUL',
							'BURU'=>'BUR',
							'BUTON'=>'BUT',
							'BANYUWANGI'=>'BYI',
							'BANYUMAS'=>'BYS',
							'CIREBON (KODYA)'=>'CBN',
							'CILACAP'=>'CCP',
							'CILEGON'=>'CIL',
							'CIREBON'=>'CIR',
							'CIANJUR'=>'CJR',
							'CIMAHI'=>'CMI',
							'CIAMIS'=>'CMS',
							'DAIRI'=>'DAI',
							'DEMAK'=>'DEM',
							'DEPOK'=>'DEP',
							'DONGGALA'=>'DGL',
							'DELISERDANG'=>'DLD',
							'DOMPU'=>'DOM',
							'DENPASAR (KODYA)'=>'DPS',
							'DUMAI'=>'DUM',
							'ENDE'=>'END',
							'ENREKANG'=>'ENR',
							'FAKFAK'=>'FAK',
							'FLORES TIMUR'=>'FLT',
							'GARUT'=>'GAR',
							'GUNUNGKIDUL'=>'GDL',
							'GIANYAR'=>'GIA',
							'GORONTALO'=>'GOR',
							'GOWA'=>'GOW',
							'GROBOGAN'=>'GRO',
							'HULU SUNGAI SELATAN'=>'HSS',
							'HULU SUNGAI TENGAH'=>'HST',
							'HULU SUNGAI UTARA'=>'HSU',
							'HALMAHERA TENGAH'=>'HTE',
							'INDRAGIRI HILIR'=>'IDI',
							'INDRAGIRI HULU'=>'IDU',
							'INDRAMAYU'=>'IDY',
							'JAMBI (KODYA)'=>'JAM',
							'JOMBANG'=>'JBG',
							'JEMBER'=>'JBR',
							'JEMBRANA'=>'JEM',
							'JEPARA'=>'JEP',
							'JAKARTA BARAT'=>'JKB',
							'JAKARTA PUSAT'=>'JKP',
							'JAKARTA SELATAN'=>'JKS',
							'JAKARTA TIMUR'=>'JKT',
							'JAKARTA UTARA'=>'JKU',
							'JENEPONTO'=>'JTO',
							'JAYAWIJAYA'=>'JYJ',
							'JAYAPURA (KODYA)'=>'JYP',
							'KALIANDA'=>'KAL',
							'KAMPAR'=>'KAM',
							'KAPUAS'=>'KAP',
							'KARO'=>'KAR',
							'KERINCI'=>'KCI',
							'KEDIRI'=>'KDI',
							'KENDAL'=>'KDL',
							'KENDARI'=>'KDR',
							'KUDUS'=>'KDS',
							'KEBUMEN'=>'KEB',
							'KENDARI'=>'KEN',
							'KEPULAUAN RIAU'=>'KER',
							'KISARAN'=>'KIS',
							'KLUNGKUNG'=>'KLK',
							'KULONPROGO'=>'KLO',
							'KLATEN'=>'KLT',
							'KOLAKA'=>'KOL',
							'KUPANG'=>'KPG',
							'KAPUS HULU'=>'KPU',
							'KARANGASEM'=>'KRS',
							'KOTA BARU'=>'KRU',
							'KARAWANG'=>'KRW',
							'KETAPANG'=>'KTP',
							'KUNINGAN'=>'KUN',
							'KUPANG (KODYA)'=>'KUP',
							'KUTAI'=>'KUT',
							'KOTAWARINGIN BARAT'=>'KWB',
							'KOTAWARINGIN TIMUR'=>'KWT',
							'KARANGANYAR'=>'KYR',
							'LANGSA'=>'LAG',
							'LAMONGAN'=>'LAM',
							'LAWU'=>'LAW',
							'LOMBOK BARAT'=>'LBB',
							'LOMBOK TENGAH'=>'LBH',
							'LEBAK'=>'LBK',
							'LOMBOK TIMUR'=>'LBR',
							'LABUHANBATU'=>'LBT',
							'LANGKAT'=>'LGT',
							'LHOKSEUMAWE (KODYA)'=>'LHO',
							'LAHAT'=>'LHT',
							'LUBUKLINGGAU'=>'LLG',
							'LAMPUNG BARAT'=>'LPB',
							'LIMAPULUH KOTA'=>'LPK',
							'LAMPUNG SELATAN'=>'LPS',
							'LAMPUNG TENGAH'=>'LPT',
							'LAMPUNG UTARA'=>'LPU',
							'LUMAJANG'=>'LUM',
							'MADIUN'=>'MAD',
							'MAGELANG'=>'MAG',
							'MALUKU TENGAH'=>'MAH',
							'MAJENE'=>'MAJ',
							'MAMUJU'=>'MAM',
							'MAROS'=>'MAR',
							'MATARAM'=>'MAT',
							'MALUKU UTARA'=>'MAU',
							'MUSIBANYUASIN'=>'MBA',
							'MUARABULIAN'=>'MBN',
							'MEDAN'=>'MDN',
							'MANADO'=>'MDO',
							'MENGGARAI'=>'MEN',
							'MERAUKE'=>'MER',
							'METRO'=>'MET',
							'MAGETAN'=>'MGT',
							'MINAHASA'=>'MHS',
							'MAJALENGKA'=>'MJK',
							'MOJOKERTO'=>'MJO',
							'MALUKU TENGGARA'=>'MKT',
							'MALANG'=>'MLG',
							'MUARAENIM'=>'MRM',
							'MUNA'=>'MUN',
							'MANOKWAN'=>'MWI',
							'MUSIRAWAS'=>'MWS',
							'NGADA'=>'NGA',
							'NGANJUK'=>'NGK',
							'NGAWI'=>'NGW',
							'NIAS'=>'NIA',
							'OGAN KOMERING ILIR'=>'OKI',
							'OGAN KOMERING ULU'=>'OKU',
							'PACITAN'=>'PAC',
							'PANIAI'=>'PAI',
							'PALU'=>'PAL',
							'PAMEKASAN'=>'PAM',
							'PANARUKAN'=>'PAN',
							'PARIAMAN'=>'PAR',
							'PASAMAN'=>'PAS',
							'PATI'=>'PAT',
							'PURBALINGGA'=>'PBA',
							'PADANG'=>'PDG',
							'PADANGPANJANG'=>'PDJ',
							'PANDANGPARIAMAN'=>'PDP',
							'PADANGSIDEMPUAN'=>'PDS',
							'PEMALANG'=>'PEM',
							'PANDEGELANG'=>'PGG',
							'PIDIE'=>'PID',
							'PINRANG'=>'PIN',
							'PANGKAJENE KEPULAUAN'=>'PJK',
							'PEKANBARU'=>'PKB',
							'PEKALONGAN'=>'PKL',
							'PANGKALPINANG'=>'PKP',
							'PALANGKARAYA'=>'PKY',
							'PALEMBANG'=>'PLG',
							'POLEWALI - MAMASA'=>'PMS',
							'PONOROGO'=>'PON',
							'POSO'=>'POS',
							'PALOPO'=>'PPO',
							'PRABUMULIH'=>'PRA',
							'PAREPARE'=>'PRE',
							'PROBOLINGGO'=>'PRO',
							'PASURUAN'=>'PSR',
							'PESISIR SELATAN'=>'PSS',
							'TAPANULI TENGAH'=>'PTH',
							'PONTIANAK'=>'PTK',
							'PEMATANGSIANTAR'=>'PTS',
							'PURWAKARTA'=>'PUR',
							'PURWOREJO'=>'PWJ',
							'PURWOKERTO'=>'PWK',
							'PAYAKUMBUH'=>'PYK',
							'REMBANG'=>'REM',
							'REJANGLEBONG'=>'RJL',
							'RANTAUPRAPAT'=>'RTP',
							'SABANG'=>'SAB',
							'SALATIGA'=>'SAL',
							'SAWAHLUNTO'=>'SAW',
							'SAMBAS'=>'SBS',
							'SUMBAWA'=>'SBW',
							'SURABAYA'=>'SBY',
							'SUMEDANG'=>'SDG',
							'SELAYAR'=>'SEL',
							'SERANG'=>'SER',
							'SIDENRENG - RAPPANG'=>'SGR',
							'SANGGAU'=>'SGU',
							'SIBOLGA'=>'SIB',
							'SIKKA'=>'SIK',
							'SIMALUNGUN'=>'SIM',
							'SINTANG'=>'SIN',
							'SINJAI'=>'SJI',
							'SIDOARJO'=>'SJO',
							'SUKOHARJO'=>'SKJ',
							'SLEMAN'=>'SLE',
							'SAROLANGUN'=>'SLN',
							'SEMARANG'=>'SMG',
							'SUMENEP'=>'SMN',
							'SAMARINDA'=>'SMR',
							'SOLOK'=>'SOK',
							'SURAKARTA'=>'SOL',
							'SOPPENG'=>'SOP',
							'SORONG'=>'SOR',
							'SAMPANG'=>'SPG',
							'SRAGEN'=>'SRA',
							'SANGIR-TALAUD'=>'STD',
							'SUBANG'=>'SUB',
							'SUKABUMI'=>'SUK',
							'SUMBA BARAT'=>'SUM',
							'SUMBA TIMUR'=>'SUT',
							'SAWAH LUNTO'=>'SWL',
							'TABALONG'=>'TAB',
							'TAKALAR'=>'TAK',
							'TANATORAJA'=>'TAN',
							'TAPIN'=>'TAP',
							'TASIKMALAYA'=>'TAS',
							'TANJUNGBALAI ASAHAN'=>'TBA',
							'TABANAN'=>'TBN',
							'TEBINGTINGGI'=>'TBT',
							'TEGAL'=>'TGL',
							'TANAH DATAR'=>'THD',
							'TANAHLAUT'=>'THL',
							'TANAHPASIR'=>'THP',
							'TANJUNGJABUNG'=>'TJJ',
							'TANJUNGPINANG'=>'TJP',
							'TELUK CENDRAWASIH'=>'TKC',
							'TULUNGAGUNG'=>'TLA',
							'TRENGGELEK'=>'TLK',
							'TEMANGGUNG'=>'TMG',
							'TANGERANG'=>'TNG',
							'TERNATE'=>'TNT',
							'TAPANULI SELATAN'=>'TPN',
							'TAPANULI UTARA'=>'TPU',
							'TARAKAN'=>'TRK',
							'TASIKMALAYA (KODYA)'=>'TSK',
							'TIMOR TENGAH SELATAN'=>'TTS',
							'TIMOR TENGAH UTARA'=>'TTU',
							'TUBAN'=>'TUB',
							'UJUNGPANDANG'=>'UJP',
							'WAJO'=>'WAJ',
							'WATAMPONE'=>'WAT',
							'WONOGIRI'=>'WGR',
							'WONOSOBO'=>'WSB',
							'YAPENWAROPEN'=>'YAP',
							'YOGYAKARTA (KODYA)'=>'YOG'
							} %>
							<i></i>
					    </label>
					  </section>
					  
					  <section class="col col-3">
					  	<label class="label">Province</label>
						<label class="select">
							<%= f.input_field :sponsor_address_prov_id, 
							collection: { 
							'DI ACEH'=>'BA',
							'BANGKA BELITUNG'=>'BB',
							'JAMBI'=>'BI',
							'BENGKULU'=>'BK',
							'BALI'=>'BL',
							'BANTEN'=>'BT',
							'GORONTALO'=>'GT',
							'IRIAN JAYA'=>'IJ',
							'JAWA BARAT'=>'JB',
							'JAWA TENGAH'=>'JH',
							'DKI JAKARTA'=>'JK',
							'JAWA TIMUR'=>'JT',
							'KALIMANTAN BARAT'=>'KB',
							'KALIMANTAN TENGAH'=>'KH',
							'KALIMANTAN SELATAN'=>'KS',
							'KALIMANTAN TIMUR'=>'KT',
							'LAMPUNG'=>'LP',
							'MALUKU'=>'ML',
							'MALUKU UTARA'=>'MU',
							'RIAU'=>'RI',
							'SUMATERA BARAT'=>'SB',
							'SUMATERA SELATAN'=>'SS',
							'SUMATERA UTARA'=>'SU',
							'NTB'=>'TB',
							'NTT'=>'TT',
							'SULAWESI TENGGARA'=>'WR',
							'SULAWESI SELATAN'=>'WS',
							'SULAWESI TENGAH'=>'WT',
							'SULAWESI UTARA'=>'WU',
							'D.I. YOGYAKARTA'=>'YO'
							} %>
							<i></i>
					    </label>
					  </section>
					</div>
				</fieldset>				
				
				<fieldset class="newVisa specialFieldType no-show">
				<div class="row">
					<section class="col col-6">
					<div class="inline-group">
					<label class="label">Other Information (Tick each item if you want to say: "Yes".)</label>
					<label class="checkbox"><input type="checkbox" value="true" name="visa[checkbox_1]"><i></i>Have you ever been to Indonesia before?</label>
					<label class="checkbox"><input type="checkbox" value="true" name="visa[checkbox_2]"><i></i>Have you ever been convicted in other country?</label>
					<label class="checkbox"><input type="checkbox" value="true" name="visa[checkbox_3]"><i></i>Are you in posession of any other country?</label>
					<label class="checkbox"><input type="checkbox" value="true" name="visa[checkbox_4]"><i></i>Do you have previous visa to enter Indonesia?</label>
					</div>
					</section>
					<section class="col col-6">
					<div class="inline-group">
					<label class="label">&nbsp;</label>
					<label class="checkbox"><input type="checkbox" value="true" name="visa[checkbox_5]"><i></i>Has your visa application been refused before?</label>
					<label class="checkbox"><input type="checkbox" value="true" name="visa[checkbox_6]"><i></i>Have you ever been deported from Indonesia before?</label>
					<label class="checkbox"><input type="checkbox" value="true" name="visa[checkbox_7]"><i></i>Have you ever committed crime or any offense?</label>
					</div>
					</section>
				</div>
				</fieldset>
				
				<fieldset>
					<div class="row">
						<section class="col col-4">
							<label class="label">Airport/Seaport Destination</label>
							<label class="select">
								<%= f.input_field :air_sea_port, 
								collection: { 
								'MALAHAYATI'=>'TCL1',
								'KRUENG RAYA'=>'TCL2',
								'SABANG'=>'TFL1',
								'LHOK SEUMAWE'=>'TBL1',
								'KUALA LANGSA'=>'TDL1',
								'POLONIA'=>'G1U1',
								'TELUK NIBUNG'=>'GCL1',
								'KUALA TANJUNG'=>'GCL2',
								'BELAWAN'=>'G2L1',
								'SIBOLGA'=>'G3L1',
								'GUNUNG SITOLI'=>'G3L2',
								'BINAKA'=>'G3U1',
								'TELUK BAYUR'=>'QBL1',
								'TABING'=>'QBU1',
								'SUNGAI SIAK'=>'BLL1',
								'SIMPANG TIGA'=>'BLU1',
								'SRI BINTAN'=>'BDL1',
								'SRI BINTAN / SELAT KIJANG'=>'BDL2',
								'KIJANG'=>'BDU1',
								'BATU AMPAR'=>'BKL1',
								'SEKUPANG'=>'BKL2',
								'NONGSA TERMINAL BAHARI'=>'BKL3',
								'KABIL'=>'BKL4',
								'MARINA TELUK SENIMBA'=>'BKL5',
								'HANG NADIM'=>'BKU1',
								'TG BALAI KARIMUN'=>'BCL1',
								'TG. BATU'=>'BCL2',
								'BENGKALIS'=>'BFL1',
								'TEMBILAHAN'=>'BHL1',
								'SEI GUNUNG'=>'BHL2',
								'KUALA ELOK'=>'BHL3',
								'DUMAI'=>'BGL1',
								'BAGAN SIAPI API'=>'BEL1',
								'SELAT PANJANG'=>'BJL1',
								'TEREMPA'=>'B4L1',
								'TG. UBAN'=>'B1L1',
								'BANDAR BENTAN TELANI,LAG'=>'B1L2',
								'BANDAR SRI UDANA LOBAM'=>'B1L3',
								'BELAKANG PADANG'=>'BBL1',
								'RANAI'=>'BML1',
								'PALEMBANG'=>'HCL1',
								'ST MAHMUD BAHARUDIN II'=>'HCU1',
								'JAMBI'=>'UAL1',
								'KUALA TUNGKAL'=>'UCL1',
								'PULAU BAAI'=>'4AL1',
								'PADANG KEMILING'=>'4AU1',
								'PANGKALAN BALAM'=>'HBL1',
								'MUNTOK'=>'HBL2',
								'BELINYU'=>'HBL3',
								'PANGKAL PINANG'=>'HBU1',
								'TG PANDAN'=>'HDL1',
								'BELITUNG'=>'HDL2',
								'BELITUNG'=>'HDU1',
								'PANJANG'=>'VCL1',
								'HALIM PERDANA KUSUMA'=>'JCU1',
								'SOEKARNO - HATTA'=>'J1U1',
								'TANJUNG PRIOK'=>'J2L1',
								'HUSEIN SASTRA NEGARA'=>'ADU1',
								'CIREBON'=>'ACL1',
								'MERAK'=>'AEL1',
								'TANJUNG MAS'=>'LCL1',
								'ADI SUMARNO'=>'LDU1',
								'CILACAP'=>'CBL1',
								'ADI SUCIPTO'=>'YAU1',
								'BESUKI'=>'CBL1',
								'PANARUKAN'=>'CBL2',
								'BANYUWANGI'=>'CBL3',
								'PASURUAN'=>'CCL1',
								'PROBOLINGGO'=>'CCL2',
								'JUANDA'=>'CDU1',
								'TG. PERAK'=>'C1L1',
								'PONTIANAK'=>'KCL1',
								'SUPADIO'=>'KCU1',
								'SINGKAWANG'=>'KBL1',
								'PEMANGKAT'=>'KBL2',
								'SINTETE'=>'KBL3',
								'ENTIKONG'=>'KED1',
								'TRISAKTI'=>'PBL1',
								'KOTABARU'=>'PIL1',
								'SAMARINDA'=>'MCL1',
								'BALIKPAPAN'=>'MDL1',
								'SEPINGGAN'=>'MDU1',
								'NUNUKAN'=>'M1L1',
								'MALUNDUNG'=>'MBL1',
								'JUWATA'=>'MBU1',
								'SAMPIT'=>'PCL1',
								'MANADO'=>'SBL1',
								'MARORE'=>'SBL2',
								'MIANGAS'=>'SBL3',
								'TAHUNA'=>'SBL4',
								'SAM RATULANGI'=>'SBU1',
								'BITUNG'=>'S1L1',
								'SOEKARNO - HATTA'=>'FBL1',
								'HASANUDIN'=>'FBU1',
								'PARE - PARE'=>'FCL1',
								'PANTOLOAN'=>'1AL1',
								'KENDARI'=>'3AL1',
								'BULELENG'=>'EBL1',
								'BENOA'=>'EBL2',
								'PADANG BAI'=>'EBL3',
								'NGURAH RAI'=>'E1U1',
								'LEMBAR'=>'ECL1',
								'BANETE'=>'ECL2',
								'SELAPARANG'=>'ECU1',
								'TENAU'=>'XBL1',
								'EL-TARI'=>'XBU1',
								'MAPAN'=>'X1U1',
								"MOTA'AIN"=>'X1D1',
								'METAMEUK'=>'X1D2',
								'MAUMERE'=>'X2L1',
								'AMBON'=>'RCL1',
								'PATIMURA'=>'RCU1',
								'TERNATE'=>'RBL1',
								'FRANS KAISEPO'=>'DBU1',
								'BIAK'=>'DBL1',
								'MERAUKE'=>'DCL1',
								'MOPAH'=>'DCU1',
								'SKOU'=>'DED1',
								'JAYAPURA'=>'DEL1',
								'SENTANI'=>'DEU1',
								'SORONG'=>'DDL1',
								'JEFMAN'=>'DDU1',
								'AMAMAPARE'=>'D1L1',
								'TIMIKA'=>'D1U1'	
								}, :selected => 'FBL1'
								%><i></i>
							</label>
						  </section>
					</div>
				</fieldset>
				
				<fieldset>
					<h3>Supporting Documents</h3>
					<hr /><br />
					Please refer to following link for list of required documents <a target="_blank" href="/infovisas">REQUIREMENTS</a>. <br />
					Please bring your real copy of attached document upon retrieving your visa to the Indonesian Embassy Office<br />
					Files must be in format of JPG/JPEG/PNG/PDF. Max Size for each file : 2MB <br /><br />
					
					
					<div class="row">							
						
						<section class="col col-6">
							<label class="label">Return Trip Ticket</label>
							<label for="file" class="input input-file">
								<div class="button">
									<%= f.input_field :ticket, as: :file, class: 'fileplaceholder' %>Upload</div>
									<input type="text" readonly="readonly" />
							</label>
							<div class="note"><strong>Note:</strong> Format : JPG/JPEG/PNG/PDF. Max Size: 2MB</div>
						</section>	
					</div>	
					
					<div class="row">
						<section class="col col-6">
							<label class="label">Supporting Document 1 (Travel Order/Immigration Approval Letter/Admission Letter)</label>
							<label for="file" class="input input-file">
								<div class="button">
									<%= f.input_field :supdoc_2, as: :file, class: 'fileplaceholder' %>Upload</div>
									<input type="text" readonly="readonly" />
							</label>
							<div class="note">
								<strong>Note:</strong> 
								It could be company reference letter, sponsor letter, school admission letter, etc.								
								Max Size: 2MB JPG/JPEG/PNG/PDF.</div>
						</section>
					</div>
					
					<div class="row">
						<section class="col col-6">
							<label class="label">Supporting Document 2 (Sponsor Letter/Invitation Letter)</label>
							<label for="file" class="input input-file">
								<div class="button">
									<%= f.input_field :supdoc_3, as: :file, class: 'fileplaceholder' %>Upload</div>
									<input type="text" readonly="readonly" />
							</label>
							<div class="note">
								<strong>Note:</strong> 
								It could be company reference letter, sponsor letter, school admission letter, etc.								
								Max Size: 2MB JPG/JPEG/PNG/PDF.</div>
						</section>
					</div>
					
					<div class="row">
						<section class="col col-6">
							<label class="label">Supporting Document 3 (Diplomatic Note/Etc)</label>
							<label for="file" class="input input-file">
								<div class="button">
									<%= f.input_field :supdoc, as: :file, class: 'fileplaceholder' %>Upload</div>
									<input type="text" readonly="readonly" />
							</label>
							<div class="note">
								<strong>Note:</strong> 
								It could be company reference letter, sponsor letter, school admission letter, etc.								
								Max Size: 2MB JPG/JPEG/PNG/PDF.</div>
						</section>
					</div>
				</fieldset>
				
				<fieldset class="newVisa specialFieldType no-show">
					<section><p style="text-align: right; font-weight: bold;">Seoul, <%= Date.current.strftime("%A, %v") %></p></section>
				</fieldset>
				
				<fieldset id="transit" class="specialFieldCat no-show">
				<div class="row">
				  <section class="col col-3">
					<label class="label">Country of Destination</label>
					<label class="input">
						<i class="icon-append icon-globe"></i>
						<%= f.input_field :count_dest %>
					</label>
					<div class="note"><strong>Note:</strong> Only fill this if you apply for TRANSIT VISA.</div>
				  </section>
				  
				  <section class="col col-2">
				    <label class="label">Flight/Vessel Name</label>
					<label class="input">
						<i class="icon-append icon-plane"></i>
						<%= f.input_field :flight_vessel %>
						<div class="note"><strong>Note:</strong>unless you are requesting for transit visa. you may leave this blank</div>
					</label>
				  </section>
				  
				  
				  
				  <section class="col col-3">
					<label class="label">Date of Entry to Indonesia</label>
					<label class="input">
						<i class="icon-append icon-calendar"></i>
						<%= f.input_field :date_entry, class: 'datePick' %>
					</label>
					<div class="note"><strong>Note:</strong> Format is DD/MM/YYYY. Example: 02/03/2014 is 02 March 2014.</div>
				  </section>
				</div>  
				</fieldset>

				<fieldset id="limited-stay" class="specialFieldCat">

			      <div class="row">
			        <section class="col col-4">
				      <label class="label">Immigration Approval No.</label>
					  <label class="input">
						<i class="icon-append icon-book"></i>
						<%= f.input_field :approval_no %>
					  </label>
					  <div class="note"><strong>Note:</strong> Input this Immigration Approval No. if you apply for Limited Stay Visa. <a target="_blank" href="http://visa.imigrasi.go.id">Check your Immigration approval code here</a></div>
				    </section>

				    <section class="col col-3">
					  <label class="label">Purpose of Application</label>
					  <label class="select">
						<%= f.input_field :purpose, 
						collection: { 'Visit' => 'visit', 'Work' => 'work', 'Joint Family' => 'family', 'Study' => 'study',
								      'Social' => 'social', 'Tourism' => 'tourism', 'Commercial' => 'commercial',
								      'Convention' => 'convention', 'Arts' => 'art', 'Family Visit' => 'family-visit',
								      'Sports' => 'sport', 'Posting' => 'posting', 'Training' => 'training', 
								      'Others' => 'other'} %>
							<i></i>
					  </label>
					  <div class="note">Please bring supporting <strong>Documents</strong> (if any) during interview/visa pick-up session.</div>
				    </section>
				    
				    
				  </div>
				</fieldset>

				<fieldset>
					<section class="col col-6">
						<div class="note">Please rewrite below code</div>					
						<label class="input">
							  <%= show_simple_captcha %>
						</label>
					</section>
				</fieldset>
				<fieldset class="newVisa specialFieldType">

					<section class="col col-9">
					I hereby declare that statements given above are true and I understand that even if granted a visa, 
					the admission at the airport remains fully the discretion of the immigration authorities in Indonesia.
					</section>
					
					<section class="col col-3">
					<pre>(Signature & Full Name)</pre>
					</section>				
				</fieldset>

				<footer>
					<% if controller_name == "visafamily" or controller_name == "visagroup"  %>
						<%= f.input_field :ref_id, type: 'hidden', value: session[:current_ref_id] %>	
					<% end %>
				
					<% if controller_name == "visafamily" or controller_name == "visagroup"  %>
						<button type="submit" class="button">Create & Add More Applicant(s)</button>
					<% else %>
						<%= link_to 'Go to User Panel', root_path %>
					<% end %>
					<button type="button" class="button button-secondary" onclick="window.history.back();">Back</button>
				</footer>
			<% end %>
<!--/ Red color scheme -->



<script type="text/javascript">
	$(function()
		{				
				$('input[type=text]').keyup(function() {
				    $(this).val($(this).val().toUpperCase());
				});
				$('textarea').keyup(function() {
				    $(this).val($(this).val().toUpperCase());
				});		
				
				<% if @visa.category_type != 'transit' %>
					$('#transit').hide();
				<% end %>
				<% if @visa.category_type != 'limited-stay' %>
					$('#limited-stay').hide();
				<% end %>
				<% if @visa.category_type != 'business-app'  %>
					$('#limited-stay').hide();
				<% end %>
				<% if @visa.category_type != 'social-app'  %>
					$('#limited-stay').hide();
				<% end %>
				<% if @visa.category_type != 'dirjenim'  %>
					$('#limited-stay').hide();
				<% end %>
				<% if @visa.category_type != 'multiple'  %>
					$('#limited-stay').hide();
				<% end %>
				<% if @visa.application_type != 3 %>
					$('.isnotreentry').hide();
				<% end %>
				
				$('#visa_application_type').change(function(){
					obj = $(this);
					if(obj.val()==3){						
						$('.isnotreentry').show();
					}else{
						$('.isnotreentry').hide();
					}
				});
				
				$('#visa_category_type').change(function(){
					obj = $(this);
					if(obj.val()=='transit'){
						$('#transit').show();
						$('#limited-stay').hide();
					}else if((obj.val()=='limited-stay')||(obj.val()=='dirjenim')||(obj.val()=='multiple')){
						$('#transit').hide();
						$('#limited-stay').show();
						$("#visa_num_entry").val("M");
					}else{
						$('#transit').hide();
						$('#limited-stay').hide();
					}
				});							
				// Adjusting suitable form
				/*$( "#visa_application_type" ).change(function() {

  					var str = "";
    				str = $( "#visa_application_type option:selected" ).val();
    				if(str == 3){
    					var aClass = ".newVisa";
    				}else if(str == 4){
    					var aClass = ".reEntry";
    				}
    				$( ".specialFieldType" ).addClass("no-show").css("display", "none");
					$( aClass ).removeClass("no-show").css("display","block");
				});
				
				$( "#visa_category_type" ).change(function() {
  					var str = "";
    				str = $( "#visa_category_type option:selected" ).val();
    				var id = "#"+str;
    				$( ".specialFieldCat" ).addClass("no-show").css("display", "none");
					if(id != "none") {
						$( id ).removeClass("no-show").css("display","block");
					}

				});*/

				
				// Regular datepicker
				$( '.datePick' ).datepicker({
					dateFormat: 'dd/mm/yy',
					prevText: '<i class="icon-chevron-left"></i>',
					nextText: '<i class="icon-chevron-right"></i>',
					changeMonth: true,
      				changeYear: true,
      				yearRange: '1920:2040'
				});
				
				$('.fileplaceholder').change(function(){					
					filename = $(this).val();
					$(this).parent().next().val(filename.split("\\").pop());
				});
								
				//console.log();
				
		});			
</script>
