<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Rekapitulasi Penerimaan Visa dan Lain - lain</title>
	</head>
	<body>
		
		<div style="width:400px;">
			<center><h3>KEDUTAAN BESAR REPUBLIK INDONESIA</h3></center>
			<center><h4>S E O U L</h4></center>
		</div>
		
		<div style="width:500px;margin:0 auto;">
			<center><h3 style="text-decoration:underline;">REKAPITULASI PENERIMAAN VISA DAN LAIN-LAIN</h3></center>
			<center><h4>Dari Tgl. : 19/03/2014 s/d 19/03/2014</h4></center>
		</div>
		
		<table cellpadding="2" cellspacing="0" width="100%" border="0" style="text-align:center;">
			<thead >
				<tr >												
					<th rowspan="2" style="border-top:thin solid #000000;border-left:0;border-right:0;border-style:double;">No.</th>
					<th rowspan="2" style="border-top:thin solid #000000;border-left:0;border-right:0;border-style:double;">JENIS PELAYANAN</th>
					<th rowspan="2" style="border-top:thin solid #000000;border-left:0;border-right:0;border-style:double;">JUMLAH</th>
					<th colspan="4" style="border-top:thin solid #000000;border-bottom:1px solid #000000;">BEA - BEA</th>
					<th rowspan="2" style="border-top:thin solid #000000;border-left:0;border-right:0;border-style:double;">TOTAL</th>																						
				</tr>
				<tr>
					<th style="border-top:0;border-left:0;border-right:0;border-style:double;">VISA</th>
					<th style="border-top:0;border-left:0;border-right:0;border-style:double;">PASPOR</th>
					<th style="border-top:0;border-left:0;border-right:0;border-style:double;">SPLP</th>
					<th style="border-top:0;border-left:0;border-right:0;border-style:double;">LEGALISASI</th>
				</tr>
			</thead>			
			<tbody>
				<tr>
					<td>1.</td>
					<td style="text-align:left;">VISA KUNJUNGAN USAHA</td>
					<td>17</td>
					<td>765</td>
					<td></td>
					<td></td>
					<td></td>
					<td>765</td>
				</tr>
				<tr>
					<td>2.</td>
					<td style="text-align:left;">VISA SOSIAL BUDAYA</td>
					<td>17</td>
					<td>765</td>
					<td></td>
					<td></td>
					<td></td>
					<td>765</td>
				</tr>
				<tr>
					<td>3.</td>
					<td style="text-align:left;">VISA KUNJUNGAN (DIRJENIM)</td>
					<td>17</td>
					<td>765</td>
					<td></td>
					<td></td>
					<td></td>
					<td>765</td>
				</tr>
				<tr>
					<td>4.</td>
					<td style="text-align:left;">VISA WISATA</td>
					<td>17</td>
					<td>765</td>
					<td></td>
					<td></td>
					<td></td>
					<td>765</td>
				</tr>
				<tr>
					<td>5.</td>
					<td style="text-align:left;">VISA TRANSIT</td>
					<td>17</td>
					<td>765</td>
					<td></td>
					<td></td>
					<td></td>
					<td>765</td>
				</tr>
				<tr>
					<td>6.</td>
					<td style="text-align:left;">VISA BEBERAPA PERJALANAN</td>
					<td>17</td>
					<td>765</td>
					<td></td>
					<td></td>
					<td></td>
					<td>765</td>
				</tr>
				<tr>
					<td>7.</td>
					<td style="text-align:left;">VISA TINGGAL TERBATAS 30 HARI</td>
					<td>17</td>
					<td>765</td>
					<td></td>
					<td></td>
					<td></td>
					<td>765</td>
				</tr>
				<tr>
					<td>8.</td>
					<td style="text-align:left;">VISA TINGGAL TERBATAS 6 BLN</td>
					<td>17</td>
					<td>765</td>
					<td></td>
					<td></td>
					<td></td>
					<td>765</td>
				</tr>
				<tr>
					<td>9.</td>
					<td style="text-align:left;">VISA TINGGAL TERBATAS 1 THN</td>
					<td>17</td>
					<td>765</td>
					<td></td>
					<td></td>
					<td></td>
					<td>765</td>
				</tr>
				<tr>
					<td>10.</td>
					<td style="text-align:left;">VISA TINGGAL TERBATAS 2 THN</td>
					<td>17</td>
					<td>765</td>
					<td></td>
					<td></td>
					<td></td>
					<td>765</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th style="border-bottom:1px solid #000000;border-left:0;border-right:0;border-style:double;"></th>
					<th style="border-bottom:1px solid #000000;border-left:0;border-right:0;border-style:double;"></th>
					<th style="border-bottom:1px solid #000000;border-left:0;border-right:0;border-style:double;">53</th>
					<th style="border-bottom:1px solid #000000;border-left:0;border-right:0;border-style:double;">2160</th>
					<th style="border-bottom:1px solid #000000;border-left:0;border-right:0;border-style:double;">52</th>
					<th style="border-bottom:1px solid #000000;border-left:0;border-right:0;border-style:double;">10</th>
					<th style="border-bottom:1px solid #000000;border-left:0;border-right:0;border-style:double;">175</th>
					<th style="border-bottom:1px solid #000000;border-left:0;border-right:0;border-style:double;">2397</th>
				</tr>
			</tfoot>
		</table>	
		<div style="clear:both;"></div>
		<div style="float:right;width:400px;">Seoul, 20/03/2014</div>
		<div style="clear:both;"></div>
		<div style="float:left;margin-left:200px;width:400px;">
			BENDAHARA,<br />
			<br /><br /><br /><br />
			DAMAYANTI
		</div>	
		<div style="float:right;width:400px;">
			A.N KEPALA PERWAKILAN RI<br />
			FUNGSI KONSULER<br />
			<br /><br /><br /><br />
			DIDIK EKO PUJIANTO
		</div>
	</body>
	<!-- end: BODY -->
</html>